/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.26);
    border-top: none;
    border-left: none;
    border-right: none;
     
}

button:focus {
    color: white;
}

img {
    width: 50px;
    height: 50px;
}

div>p:first-child {
    display: block;
    padding-top: 10%;
}

div img {
    background: white;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
}

.botao-amarelo:hover {
    background-color: #a14100;
}

.botao-amarelo:active{
    color: white;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 15px;
    width: 50px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    
    
}

#container-de-descricao>ol {
    padding: 15px 0px;
    width: 200px;
    padding: 15px 0px;
    width: 140px;
    margin-left: 45%;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}
ol{
    margin: 20px;
}



/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: auto;
    text-align: center;
    margin-left: 30%;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    margin-left: 44%;
    margin-top: 10%;
}

#back-button:hover {
    background-color: #635a3d;
  
}