*{
    margin: 0;
    padding: 0;
}

body{
    background-color: goldenrod;
}

header{
    border: 5px solid royalblue;
    background-color: rgb(224, 75, 64);
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

h1{
    margin-left: 30px;
    color: yellow;
    text-shadow:1px 1px 1px black;

}

div{
    display: grid;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 20px;
    margin-top: -20px;
}
input{
    width: 10%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 1%;
    margin-right: 5px;
}
label{
    color: yellow;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
   margin-top: 1%;
   margin-left: 40%;
   margin-right: 10px;
    ;
}

.semanas{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 50vh 50vh 50vh ;
    justify-items: center;
    margin-top: 20px;
    font-size: x-large;
    color: yellow;
    text-shadow:1px 1px 1px black;
    
}

#domingo{
    justify-content: flex-end;
    
}
.semanaTamanho{
border: 5px dashed firebrick;
width: 80%;
margin: 10px;
text-align: center;
}

button{
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
    background-color: darkgoldenrod;
    color: yellow;
    text-shadow: 1px 1px 1px black;
    height: 10%;
    width: 6%;
    border-radius: 8px;
}

select{
    height: 5%;
    margin-top: 1%;
}