*{
    margin: 0;
    padding: 0;
}


h1{
    color: chocolate;
    background-color: black;
    padding: 5px;
}
ul{
    background-color: chocolate;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
    
    
    
}
li a{
    background-color: chocolate;
    color: black;
    text-decoration: none;
    font-size: large;
    margin-left: 13px;
    padding: 10px 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 5px;
    font-weight: bold;
    
}
a{
    padding-right: 20px;
}
.pagina-principal{
    background-color: rgba(179, 123, 84, 0.356);
    display: block;
    width: 100%;
    height: 5%;
    margin-left: 15px;

    
    ;
}

html{
    background-color: rgba(179, 123, 84, 0.356);
}
footer{
    background-color: #111111;
    color:chocolate;
    margin: 0;
    padding: 16px;
    margin-top: 32.6%;
    padding-bottom: 6px;
    min-height: 18px;
}
  span{
      color: slateblue;
  }
strong{
    margin-left: 20px;
    padding-top: 80px;
}
button{
    background-color: tan;
}   

