*{
    margin: 0;
    padding: 0;
}


h1{
    color: chocolate;
    background-color: black;
    padding: 5px;
}
ul{
    background-color: chocolate;
    padding-bottom: 10px;
}

li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
    
    
    
}
li a {
    background-color: chocolate;
    color: black;
    text-decoration: none;
    font-size: large;
    margin-left: 13px;
    padding: 10px 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 5px;
    font-weight: bold;
    height: auto;
    width: auto;
}
a{
    padding-right: 20px;
}
#tabela{
    background-color: rgba(179, 123, 84, 0.356);
   page-break-inside: auto;
   background-size: 100% auto;
    
    
}
th{    
    padding-left: 122px;
    padding-top: 40px;
}
td{
    width: auto;
    height: auto;
}


html{
    background-color: rgba(179, 123, 84, 0.356);
}

footer {
    background-color: #111111;
    color: chocolate;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
  span{
      color: slateblue;
  }
strong{
    margin: 5px;
    position: fixed;
    z-index: 10;
}

img{
    margin-left: 140%;
}   
.descricao-produto{
    
    width: auto;
    height: auto;
}
#produto1{
    
    width: auto;
    height: auto;
}
#produto2{
    
    width: auto;
    height: auto;
}
.preco{
    
    width: auto;
    height: auto;
}
.quantidade{
    
    width: auto;
    height: auto;
}