*{
    margin: 0;
    padding: 0;
}


header{
    background-color: #cd4d00;
    height: 60px;
    padding-bottom: 0px;
    float: right;
}
header a{
    padding: 25px 22px;
    font-size: large;
    text-decoration: none;
    color: white;
    clear: both;
    
    
}
h1{
    padding-top: 9%;
    padding-left: 37%;
    color: white;
}
p{
    color: white;
    text-align: right;
    font-size: 18px;
    padding-right: 10%;
    padding-top: 10%;

}


footer{
    background-color:#d8d8d8;
    height: 30px;
    text-align: center;
    padding: 10px;
   width: 100%;
}

#principal{
    background-color: #cd4d00;
    height: 60px;
    width: 100%;
    
    
    
   
    

}
#conteudo{
    background-color:#5c5c93 ;
    min-width: 800px;
    height: 600px;
   padding: 10%;
}




img{
    padding-left: 34%;
    min-width: 250px;
    height: 200px;
    padding-top: 4%;
}
.container{
    width: 960px;
    margin: 0 auto;
    
}

