*{
    margin: 0;
    padding: 0;
}


header{
    background-color: #cd4d00;
    width: 100%;;
    margin-top: 0;
    position: fixed;
    
}
header a{
    padding: 25px 22px;
    font-size: large;
    text-decoration: none;
    color: white;
    float: right;
    
    
}
h1{
    padding-top: 25px;
    text-align: center;
    color: white;
}
p{
    color: white;
    text-align: right;
    font-size: 18px;
    padding-right: 10%;
    padding-bottom: 3%;

}


footer{
    background-color:#d8d8d8;
    height: 10vh;
    text-align: center;
    width: 100%;
   margin-bottom: 0;
}

#principal{
    background-color: #cd4d00;
    height: 60px;
    width: 100%;
    
    
    
   
    

}
#conteudo{
    background-color:#5c5c93 ;
   margin: 0;
   width: 100%;
   height: 700px;
   clear: both;
  
}




img{
    text-align: right;
    min-width: 350px;
    height: 300px;
    
}

form{
    text-align: center;
    padding-top: 15px;
}

#astronauta{
    padding-left: 27%;
    padding-top: 7%;
}
