*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 13vh 15vh 15vh 19vh 19vh 15vh 15vh;
    grid-gap: 10px;
    text-align: center;
     
                           
}

header{
    background-color: aquamarine;
    grid-column: 1/9;
    grid-row: 1;
    text-align: start;
}

input{
    width: 90px;
}
#busca{
    background-color: aquamarine;
    grid-column: 6/8;
    grid-row: 1/2;
    margin-top: 10%;
    margin-left: 20px;
}
#imagem-ilha{
    background-image: url(ilha.jpg);
    background-size: 360px;
    border: 1px solid black;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/4;
}
#imagem-ondas{
    background-image: url(ondas.jpg);
    background-size: 360px;
    border: 1px solid black;
    grid-column: 3/5;
    grid-row: 2/4;
    }

#imagem-fumaca{
    background-image: url(fumaca.jpg);
    background-size: 360px;
    border: 1px solid black;
    grid-column: 5/7;
    grid-row: 2/4;
    }

#imagem-coelho{
    background-image: url(coelho.jpg);
    background-size: 360px;
     border: 1px solid black;
     grid-column: 7/9;
     grid-row: 2/4;
    }

#imagem-universo{
    background-image: url(universo.jpg);
    background-size: 440px;
    border: 1px solid black;
    grid-column: 1/3;
    grid-row: 4/6;
    }

#imagem-nasa{
    background-image: url(naasa.jpg);
    background-size: 320px;
    border: 1px solid black;
    grid-column: 3/5;
    grid-row: 4/6;
    }
    
#imagem-cachoeira{
    background-image: url(cachoeira.jpg);
    background-size: 360px;
    border: 1px solid black;
    grid-column: 5/7;
    grid-row: 4/6;
    }
    
#imagem-mundos{
    background-image: url(mundos.jpg);
    background-size: 330px;
    border: 1px solid black;
    grid-column: 7/9;
    grid-row: 4/6;
    }

h1{
    margin-left: 20px;
    margin-top: 20px;
    color: coral;
    text-shadow: 1px 1px 1px black;
    }

#play{
    width: 30px;
    height: 20px;
    text-align: center;
} 


#lupa-imagem{
    width: 20px;
    height: 11px;
    padding-left: 3px;
   
}

#lupa-imagem:hover{
    opacity: 0.3;
}

#lupa-imagem:active{
    opacity: 5;
}


p{
    font-size: 22px;
    color: blanchedalmond;
    margin: 40px;
}   

div{
    grid-column: 4/8;
    grid-row: 6;
}

footer{
    background-color: blueviolet;
    grid-column: 1/9;
    grid-row: 7;
    text-align: start;
   }

#video-player{
    grid-column: 3/4;
    grid-row: 2/5;
    margin-top: 8%;
    margin-left: 20%;
}
h4{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    margin-left: 15%;
}

button{
    
    border-radius: 4px;
    background-color: rgb(92, 11, 168);
    color: white;
    border-radius: 10px;
    font-size: medium;
    text-shadow: 1px 1px 1px black;
  }

button:hover{
    background-color: wheat;
    color: blueviolet;
}  
#link-imagem{
    color: tomato;
    text-shadow: 1px 1px 1px 1px black;
    text-decoration: none;
    text-align: center;
}

#link-imagem:hover{
    color: red;
}

#voltar{
    margin-top: 20px;
}
#video{
    width: 640px;
    height: 360px;
}
