*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 13vh 15vh 15vh 19vh 19vh 15vh 15vh;
    grid-gap: 10px;
    text-align: center;
     
                           
}

header{
    background-color: aquamarine;
    grid-column: 1/9;
    grid-row: 1;
    text-align: start;
}
#busca{
    background-color: aquamarine;
    grid-column: 6/8;
    grid-row: 1/2;
    margin-top: 10%;
    margin-left: 20px;
}
#imagem-natureza{
    background-image: url(natureza.jpg);
    background-size: 320px;
    border: 1px solid black;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/4;
}
#imagem-dois{
    background-color: blue;
    border: 1px solid black;
    grid-column: 3/5;
    grid-row: 2/4;
    }

#imagem-tres{
    background-color: blue;
    border: 1px solid black;
    grid-column: 5/7;
    grid-row: 2/4;
    }

#imagem-quatro{
     background-color: blue;
     border: 1px solid black;
     grid-column: 7/9;
     grid-row: 2/4;
    }

#imagem-cinco{
    background-color: blue;
    border: 1px solid black;
    grid-column: 1/3;
    grid-row: 4/6;
    }

#imagem-seis{
    background-color: blue;
    border: 1px solid black;
    grid-column: 3/5;
    grid-row: 4/6;
    }
    
#imagem-sete{
    background-color: blue;
    border: 1px solid black;
    grid-column: 5/7;
    grid-row: 4/6;
    }
    
#imagem-oito{
    background-color: blue;
    border: 1px solid black;
    grid-column: 7/9;
    grid-row: 4/6;
    }

    h1{
        margin-left: 20px;
        margin-top: 20px;
    }
p{
    font-size: 22px;
    color: blanchedalmond;
    margin: 40px;
}    

footer{
    background-color: blueviolet;
    grid-column: 1/9;
    grid-row: 7;
    text-align: start;
   }

#natureza-video{
    grid-column: 3/4;
    grid-row: 2/5;
    margin-top: 8%;
    margin-left: 20%;
}
h4{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    margin-left: 15%;
}
  