*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box
}

.container{
    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 13vh 15vh 15vh 19vh 19vh 15vh 15vh 15vh;
    grid-gap: 10px;
   
    
                           
}

#vermelho{
    background-color: red;
    border: 1px solid black;
    grid-column: 1/7;
    grid-row: 1;
    
}

#um{
    background-color: blue;
    border: 1px solid black;
    grid-column: 1/3;
    grid-row: 2;
    
}

#dois{
    background-color: yellow;
    border: 1px solid black;
    grid-column: 3/5;
    grid-row: 2;
    
    
}

#tres{
    background-color: green;
    border: 1px solid black;
    grid-column: 5/7;
    grid-row: 2;
}   

#quatro{
    background-color: blue;
    border: 1px solid black;
    grid-column: 1/3;
    grid-row: 3;
}   

#cinco{
    background-color: yellow;
    border: 1px solid black;
    grid-column: 3/5;
    grid-row: 3;
  
}

#seis{
    background-color: green;
    border: 1px solid black;
    grid-column: 5/7;
    grid-row: 3;
   
}

#sete{
    background-color: black;
    grid-column: 1/4;
    grid-row: 4/6;
    color: white;
    
}

#oito{
    background-color: black;
    grid-column: 4/7;
    grid-row: 4/6;
    color: white;
   
}

#nove{
    background-color: white;
    border: 1px solid black;
    color: black;
    grid-column: 1/3;
    grid-row: 6;
    
}

#dez{
    background-color: white;
    border: 1px solid black;
    color: black;
    grid-column: 3/5;
    grid-row: 6;
    
}

#onze{
    background-color: white;
    border: 1px solid black;
    color: black;
    grid-column: 5/7;
    grid-row: 6;
    
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    @media screen and (min-width: 650px) {
        .container {
          grid-template-columns: repeat(2, 1fr);
          
        }
    }
    
}